<!DOCTYPE html>
{% extends 'base.html' %} {% load django_tables2 %} 

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>welcome</title>
  </head>
  <body>
    {% block content %}
    
      
  
      {% if user.username == "admin" %}
      <center>
        <div class="container">
          <h1 class="display-4">Administration Dashboard</h1>
        </div>
      </center>
      <div class="cointainer">
        <dl class="row">
          <dt class="col-sm-3">Username:</dt>
          <dd class="col-sm-9">{{user}}</dd>
          <dt class="col-sm-3 text-truncate">Last login</dt>
          <dd class="col-sm-9">{{user.last_login}}</dd>
          <dt class="col-sm-3">Date_Joined</dt>
          <dd class="col-sm-9">{{user.email}}</dd>
          <dt class="col-sm-3">SuperUser</dt>
          <dd class="col-sm-9">{{user.is_superuser}}</dd>
      </dl>
      </div>
      
    <div class="  ">
      <a class="btn btn-outline-primary btn-block" href="/showthis">show users</a>
    </div>
      
      <br>
      <a class="btn btn-outline-info btn-block" href="/admin/auth/user/">admin page</a>


      {% else %}


      <div class="container">
        <h1 class="display-4">Hello {{user}}</h1>
      </div>
        
      <div class="alert alert-primary" role="alert">
        <dl class="row">
          <dt class="col-sm-3">Username:</dt>
          <dd class="col-sm-9">{{user}}</dd>
          <dt class="col-sm-3 text-truncate">Last login</dt>
          <dd class="col-sm-9">{{user.last_login}}</dd>
          <dt class="col-sm-3">Date_Joined</dt>
          <dd class="col-sm-9">{{user.email}}</dd>
          <dt class="col-sm-3">Gender</dt>
          <dd class="col-sm-9">{{user.userprofilemodel.gender}}</dd>
          <dt class="col-sm-3">SuperUser</dt>
          <dd class="col-sm-9">{{user.is_superuser}}</dd>
          <dt class="col-sm-3">Age</dt>
          <dd class="col-sm-9">{{user.userprofilemodel.age}}</dd>
          <dt class="col-sm-3">Address</dt>
          <dd class="col-sm-9">{{user.userprofilemodel.address}}</dd>
          <dt class="col-sm-3">country</dt>
          <dd class="col-sm-9">{{user.userprofilemodel.country}}</dd>
          <dt class="col-sm-3">city</dt>
          <dd class="col-sm-9">{{user.userprofilemodel.city}}</dd>
          <dt class="col-sm-3">Pincode</dt>
          <dd class="col-sm-9">{{user.userprofilemodel.pincode}}</dd>
          

      </dl>
      
        <div class="container">
          <a class=" btn btn-outline-secondary" href="/password_change">Change User Password</a>
          <!-- <a class=" btn btn-outline-secondary" href="/edit_profile">Change User details</a> -->
          <a class=" btn btn-outline-secondary" href="/customer_config">Customer config</a> 
          <!-- <a class=" btn btn-outline-secondary" href="/edit_customer_config">edit Customer config</a>  -->
        </div>
        <br>
       
        </div>
      <div>
      </div>
      {% endif %}
    <div class="container">
    <br>
    <center>
        <div class="container">
            <a href="/logout" class="btn btn-outline-warning">Logout</a>
          </div>
    </center>

    {% endblock content %}
  </body>
</html>
