<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <!-- <div class="alert alert-primary" role="alert"> -->
    <br <br />
    <div class="container" class="row h-100">
      <div class="alert alert-light" role="alert">
        <center>
          <p class="display-3">Welcome</p>
        </center>
      </div>
      <center>
        <a class="btn btn-outline-primary btn-block" href="/login">Login</a>
        <br />

        <p class="leads">Not Yet Registered??</p>

        <a class="btn btn-outline-success" href="/register">Register</a>

        <!-- <a class="btn btn-dark" href="/admin">admin</a> -->
      </center>
    </div>
    <!-- </div> -->
    {% endblock content %}
  </body>
</html>
