<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <div class="alert alert-primary" role="alert">
      <div class="container">
        <center>
          <a class="btn btn-primary" href="/login">login</a>
          <a class="btn btn-success" href="/register">register</a>
          <br />
          <br />
          <a class="btn btn-dark" href="/admin">admin</a>
        </center>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
