<!DOCTYPE html>
{% extends 'base.html' %}{% load crispy_forms_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Access</title>
  </head>
  <body>
    {% block content %}
    <center>
      <h1 class="display-4">Customer Access</h1>
    </center>
    <div class="container">
      <form action="" method="post" autocomplete="off">
        {% csrf_token %} {{ form|crispy}}
        <center>
          <button class="btn btn-outline-success btn-block" type="submit">
            Login
          </button>
        </center>
        <br />
      </form>
      <center>
        <p class="leads">Not Yet Registered??</p>
        <a href="/register" class="btn btn-outline-primary">register</a>
        <p class="leads">Forgot Password?</p>
        <a href="/register" class="btn btn-outline-primary">reset</a>
      </center>
    </div>
    {% endblock content %}
  </body>
</html>
