<!DOCTYPE html>
{% extends 'base.html' %} {% load crispy_forms_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <div class="container">
      <form action="" method="post" autocomplete="off">
        {% csrf_token %} {{ form|crispy}}
        <center>
          <button class="btn btn-success" type="submit">Register</button>
        </center>
      </form>
    </div>
    <div class="container">
      already registered??
      <a href="/login" class="btn btn-success">Login</a>
    </div>
    {% endblock content %}
  </body>
</html>
