<!DOCTYPE html>
{% extends 'base.html' %} {% load django_tables2 %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <div class="container">
      <tr>
        {% render_table allusers %}
      </tr>
    </div>

    <center>
      <a class="btn btn-info btn-block" href="/welcome">Go Back to Dashboard</a>
    </center>

    {% endblock content %}
  </body>
</html>
